@import "tailwindcss";

@layer utilities {
  .border-separator {
    @apply border-dotted border-border/50 dark:border-solid dark:border-border;
  }
}

@layer components {
  .codoodle-button {
    @apply inline-flex items-center gap-2 rounded-md border border-border bg-background px-4 h-9 text-sm font-semibold text-foreground shadow-sm transition hover:-translate-y-px hover:border-border/60 hover:shadow disabled:cursor-not-allowed disabled:opacity-50;
  }
  .codoodle-button-primary {
    @apply inline-flex items-center gap-2 rounded-md border border-primary bg-primary px-4 h-9 text-sm font-semibold text-primary-foreground shadow-sm transition hover:-translate-y-px hover:shadow-lg disabled:cursor-not-allowed disabled:opacity-50;
  }
  .codoodle-input {
    @apply h-9;
  }
  .codoodle-textarea {
    @apply py-3;
  }
  .codoodle-input,
  .codoodle-textarea {
    @apply w-full rounded-md border border-input bg-background px-4 text-sm shadow-inner outline-none ring-offset-background focus:border-primary focus:ring-2 focus:ring-primary/40;
  }
  .codoodle-input-group {
    @apply inline-flex items-center gap-2 rounded-md border border-border bg-background px-3 h-9 text-sm shadow-sm;

    > .codoodle-input {
      @apply px-3 h-6 rounded-sm border-border/60;
    }
  }
  .codoodle-card {
    @apply rounded-sm border border-border/70 bg-card shadow-sm;
  }
  .codoodle-card-secondary {
    @apply rounded-sm border border-border/60 bg-secondary/20 p-5 shadow-sm
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

/**
 * The color theme variables below were generated using https://ui.shadcn.com/themes
 */
@layer base {
  :root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.141 0.005 285.823);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.141 0.005 285.823);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.141 0.005 285.823);
    --primary: oklch(0.723 0.219 149.579);
    --primary-foreground: oklch(0.982 0.018 155.826);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --muted: oklch(0.967 0.001 286.375);
    --muted-foreground: oklch(0.552 0.016 285.938);
    --accent: oklch(0.967 0.001 286.375);
    --accent-foreground: oklch(0.21 0.006 285.885);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.92 0.004 286.32);
    --input: oklch(0.92 0.004 286.32);
    --ring: oklch(0.723 0.219 149.579);
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
